torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
torchmetrics
numpy==1.26.4
scikit-learn
tqdm
matplotlib
pandas
wandb
hydra-core==1.1.1
soundfile

black
isort
pre-commit

# torch==1.10.1 
# torchaudio==0.10.1 